
.bio {
    display: inline-block;
    max-width: 100%;
}


.mugshot {
    overflow: hidden;
    float: right;
    width: 250px;
    margin: 0px 0px 20px 50px;
    &:hover {
        transition: transform .2s ease-in;
        transform: rotate(3deg) scale(1.1);    
    }
}

.mugshot img {
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
    width: 250px;
}